.click {
  cursor: pointer;
}


.b-1 {
  font-size: 30px; 
  border-radius: 10px;

  
}

.b-2 {
  font-size: 24px; 
  border-radius: 9px;


  
}

.b-3 {
  font-size: 21px; 
  border-radius: 8px;
}

.b-4 {
  font-size: 19px; 
  border-radius: 7px;
}

.b-5 {
  font-size: 14px; 
  border-radius: 6px;
}

.b-6 {
  font-size: 11px; 
  border-radius: 5px;
}

.b-p {
  font-size: 18px; 
  border-radius: 7px;

}

.b-1, .b-2, .b-3, .b-4, .b-5, .b-6, .b-p {
  user-select: none;
  transition: all 0.1s ease;
  border-width: 1px;
  border-color: #4A90E2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Horizontal offset, Vertical offset, Blur radius, Color */
  background-color: rgb(235, 234, 234);
}

.b-1:hover, .b-2:hover, .b-3:hover, .b-4:hover, .b-5:hover, .b-6:hover, .b-p:hover {
  background-color: #f0f0f0;
  transform: scale(1); /* 1.05*/
}

.b-selected {
  border-width: 2.5px; 
  transition: all 0.1s ease;
  background-color:  #c4c4c4; /* A darker color on hover */
  transform: scale(1); /* 0.95*/
}

.b-selected:hover {
  background-color: #f0f0f0;
  transform: scale(1); /* 1.02*/
}

.b-selected:hover {
  background-color: #d8d7d7;
  transform: scale(1);  /* 1.02*/
}


.b-green {
  border-color: green;
  background: #c7f5d2;

}

.b-green:hover {
  background: #adf8be;

}

.b-red {
  border-color: red;
  background: #f1afaf;
}


.b-dark-blue {
  color: #005eca;
}


.b-red:hover {
  background: #fc9393;

}

.b-yellow {
  border-color: #fbff00;
  background: #f0f7b2;
}

.b-yellow:hover {
  background: #f3ff87;

}



.menu {
  border-top-left-radius: 20px;
  margin-bottom: 20px;
  border-left: 1px solid #4A90E2;
  border-top: 1px solid #4A90E2;
  border-right: none;
  border-bottom: none;
  cursor: default;
  width: fit-content;
  display: block; 
  clear: both;
  margin-top: 10px;
  }

  .section {
    border-top-left-radius: 20px;
    margin-bottom: 20px;
    border-left: 1px solid #4A90E2;
    border-top: 1px solid #4A90E2;
    border-right: none;
    border-bottom: none;
    cursor: default;
    margin-top: 10px;
    }
  

  .menu legend, .section legend {
    color: 4A90E2;
    user-select: none;
  }


.table-1 {
    max-width: 100%;
    width: auto;
    border-collapse: collapse;
    border-radius: 10px; /* Rounded corners */
}
.table-1 th, td {
    text-align: left;
    padding-right: 50px;

}

.table-1 tbody tr:nth-child(odd) {
    background-color:  #ffffff; 
}

.table-1 tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.table-1 tbody tr:hover {
    background-color:  #dddddd; /* A darker color on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.table-1 {
  counter-reset: rowNumber; /* Инициализация счетчика */
}

.table-1 tr {
  counter-increment: rowNumber; /* Увеличение счетчика для каждой строки */
}

.table-1 tr td:first-child {
  position: relative; /* Делаем первую ячейку каждой строки относительно позиционированной */
}

.table-1 tr td:first-child::before {
  content: counter(rowNumber) "."; /* Добавление номера строки */
  position: absolute; /* Абсолютное позиционирование */
  left: -20px; /* Сдвигаем влево от начала ячейки */
  top: 50%; /* Выравнивание по центру ячейки */
  transform: translateY(-50%); /* Центрирование относительно высоты ячейки */
  font-size: 18px; /* Размер шрифта номера */
}


.list-1 li {
  border-radius: 5px;

}
.list-1 
  li:nth-child(odd) {
  background-color: #ffffff;
  padding: 5px;
}

.list-1 li:nth-child(even) {
  background-color: #f0f0f0;
  padding: 5px;

}

.list-1 li:hover {
  background-color: #dddddd;
}

.hide-bullets {
list-style-type: none; /* Removes bullets and numbers */
padding-left: 0;      /* Resets the padding */
margin-left: 0;       /* Resets the margin */
}




.l-1 {
  font-size: 30px; 
  border-radius: 10px;

  
}

.l-2 {
  font-size: 24px; 
  border-radius: 9px;


  
}

.l-3 {
  font-size: 21px; 
  border-radius: 8px;
}

.l-4 {
  font-size: 19px; 
  border-radius: 7px;
}

.l-5 {
  font-size: 14px; 
  border-radius: 6px;
}

.l-6 {
  font-size: 11px; 
  border-radius: 5px;
}

.l-p {
  font-size: 18px; 
  border-radius: 7px;

}



.text1 {
  background-color: #fafafa; /* Светло-серый фон */
  font-size: 16px; /* Удобный размер шрифта для чтения */
  line-height: 1.5; /* Интерлиньяж для лучшей читаемости */
  border-radius: 4px; /* Скругленные углы */
}

