.click {
  cursor: pointer;
}


.b-1 {
  font-size: 30px; 
  border-radius: 10px;

  
}

.b-2 {
  font-size: 24px; 
  border-radius: 9px;


  
}

.b-3 {
  font-size: 21px; 
  border-radius: 8px;
}

.b-4 {
  font-size: 19px; 
  border-radius: 7px;
}

.b-5 {
  font-size: 14px; 
  border-radius: 6px;
}

.b-6 {
  font-size: 11px; 
  border-radius: 5px;
}

.b-p {
  font-size: 18px; 
  border-radius: 7px;

}

.b-1, .b-2, .b-3, .b-4, .b-5, .b-6, .b-p {
  border-width: 1px;
  border-color: #4A90E2;
  background-color: #ffffff;

}

.b-1:hover, .b-2:hover, .b-3:hover, .b-4:hover, .b-5:hover, .b-6:hover, .b-p:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
  transition: transform 0.3s ease; 
}

.b-selected {
  border-width: 2.5px; 
  transition: all 0.3s ease;
  background-color:  #dddddd; /* A darker color on hover */
}

.b-selected:hover {
  background-color: #d8d7d7;
  transform: scale(1.02);
  transition: transform 0.3s ease; 
}


.b-green {
  border-color: green;
  background: #c7f5d2;

}

.b-green:hover {
  background: #adf8be;

}

.b-red {
  border-color: red;
  background: #f1afaf;
}

.b-red:hover {
  background: #fc9393;

}



.menu {
  border-top-left-radius: 20px;
  margin-bottom: 20px;
  border-left: 1px solid #4A90E2;
  border-top: 1px solid #4A90E2;
  border-right: none;
  border-bottom: none;
  cursor: default;
  width: fit-content;
  display: block; 
  clear: both;
  margin-top: 10px;
  }



.table-1 {
  width: auto;
      border-collapse: collapse;
    border-radius: 10px; /* Rounded corners */
}
.table-1 th, td {
    text-align: left;
}

.table-1 tbody tr:nth-child(odd) {
    background-color:  #ffffff; 
}

.table-1 tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.table-1 tbody tr:hover {
    background-color:  #dddddd; /* A darker color on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}



.list-1
  li:nth-child(odd) {
  background-color: #ffffff;
}

.list-1 li:nth-child(even) {
  background-color: #f0f0f0;
}

.list-1 li:hover {
  background-color: #dddddd;
}

.hide-bullets {
list-style-type: none; /* Removes bullets and numbers */
}




.l-1 {
  font-size: 30px; 
  border-radius: 10px;

  
}

.l-2 {
  font-size: 24px; 
  border-radius: 9px;


  
}

.l-3 {
  font-size: 21px; 
  border-radius: 8px;
}

.l-4 {
  font-size: 19px; 
  border-radius: 7px;
}

.l-5 {
  font-size: 14px; 
  border-radius: 6px;
}

.l-6 {
  font-size: 11px; 
  border-radius: 5px;
}

.l-p {
  font-size: 18px; 
  border-radius: 7px;

}
