img[data-visual-element] {
    width: 200px; /* Устанавливаем ширину изображения 200px */
  }

img[data-visual-element]:hover {
/* Прозрачность */
opacity: 0.8;
/* Увеличение яркости */
filter: brightness(120%);
/* Тень */
box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
/* Трансформации */
transform: scale(1.1) ;
/* Плавный переход для всех изменений */
transition: all 0.3s ease;
cursor: default
}


.data-visual-zone {
border-top-left-radius: 20px;
margin-bottom: 20px;
border-left: 2px solid #a1a1a1;
border-top: 2px solid #a1a1a1;
border-right: none;
border-bottom: none;
cursor: default
}
.data-visual-toggle {
font-size: 30px; border-radius: 10px; border-color: #a1a1a1;
}
.data-visual-zone-name {
font-size: 30px; font-family: Arial, Helvetica, sans-serif; cursor: default; color: #4A90E2;
}
.closed {
border-left: none; 
border-right: none; 
border-bottom: none;
border-top-left-radius: 0;
}



*:not([class]) h1 {
font-size: 30px; /* Пример размера текста */
}
*:not([class])  h2 {
font-size: 24px; /* Пример размера текста */
}
*:not([class])  h3 {
font-size: 21px; /* Пример размера текста */
}


/* data-visual-element hover*/
.hover {
  position: relative; /* Needed to position the hover-menu correctly */
  background-color: pink; /* Pink background */
  transition: all 0.3s;
}



  /*vertical-receive-target*/
.vertical-receive-target {
  padding: 0 10px; /* Отступы вокруг стрелок */
  font-size: 24px; /* Размер символа стрелки */
  border-radius: 10px;
  margin: 5px;
  border: 2px dashed #4A90E2; 

}
.vertical-receive-target:hover {
  transform: scale(1.5); /* Увеличиваем размер стрелки в 2 раза */
  cursor: pointer; /* Меняем указатель, чтобы показать, что это интерактивный элемент */
} 

  /*horizontal-receive-target*/

.horizontal-receive-target {
      border: 2px dashed #4A90E2;
      padding: 1px;
  }
    .horizontal-receive-target:hover {
  transform: scaleY(1.2);
  }
  .horizontal-receive-target button{
  
  font-size: 30px; 
  border-radius: 10px; 
  color: #4A90E2;
  }


