  /*
      .attrs {
            position: absolute; right:0px; position: absolute; right: 0px;
          }
          */
          .comment {
            margin-bottom: -5px;
            color: #4A90E2; 
          }
          .tag-fs {
              border-right: none;
              border-bottom: none;
    
              border-left-width: 1px;
              border-top-width: 1px;
              border-top-left-radius: 10px;
          }
          
          .tag-fs legend{
            }
    
    
    
          .tag-fs > .tag-fs {
            margin-bottom: -10px;
          }
    
    
          .arrow { 
                font-size: 24px;
                border-radius: 10px;
              }
          
           .tag { 
                font-size: 24px;
                border-radius: 10px;
      
              }
          
          
      
                
        
              button.inner, button.tC, button.atr, button.tag, button.arrow {
              border-color: 4A90E2; 
              border-width: 1px;
              font-size: 24px; /* Увеличиваем размер шрифта */
              border-radius: 10px;
              background-color: #f8f8f8; /* Светлый фон для кнопки */
            }
    