
.right-click-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 150px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  color:#05356d;
  border-radius: 10px;
}

.menu-option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #b6b4b4; /* Разделительные линии между опциями */
}

.menu-option:last-child {
  border-bottom: none; /* Убираем линию у последнего элемента */
}

.menu-option:hover {
  background-color: #d8d6d6;
}
